$color-linea:black;
@mixin text-style{
    margin-left: 50px;
    margin-right: 50px;
    font-family: Arial, sans-serif;
}
@mixin margen{
    margin-bottom: 5px;
    margin-top: 5px;
}
/*Codigo de la pagina Index con algo de la pagina productos*/
.carousel-inner {
    background-color: lightgrey;
}
.linea1 {/*Linea que divide lo mas vendido de novedades*/
    height: 5px; /* Grosor de la línea */
    margin: 20px 0px; /* Espacio alrededor de la línea */
    background-color: $color-linea;
    opacity: 1 !important;
}
/*Seccion de lo mas vendido y Novedades // evito repetir codigo ya que ambas tienen el mismo formato*/
h2 {
    text-align: center;
    color:grey;
}
.col-6 {
    img{/*Pag productos*/
        margin: 10px; 
        border-radius: 10px;
    }
    p{
        margin: 0px;
    }
    .buy-button{/*Boton de comprar*/
        list-style-type: none;
        text-decoration: none;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #D5EFC8;
        color: black;
        border-radius: 10px;
        padding: 5px;
        font-weight: lighter;
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
        &:hover{
            background-color: #a8e0c0; 
        }
        &:active{
            background-color: #a4a4a5;
        }
    }
}
.filtros{
    list-style-type: none;
    a{
        text-decoration: none;
        color:black
    }
}
/*Codigo de la pagina como comprar*/
.section-compras {
    @include text-style;
    .p-compras1 {
        text-align: left;
    }
    .p-compras {
        line-height: 1.5;
        text-align: center;
    }
}
.ol-itemcom, .ul-itemcom, .p-compras, .p-compras1 {
    @include margen;
}
/*Codigo de la pagina cuidados*/
.section-cuidados {
    @include text-style;
    .item-cuidados{
        @include margen;
    }
}
/*Codigo de la pagina informacion*/
.div-info, .section-info {
    @include text-style;
    line-height: 2;
}
textarea{
    margin: 10px;
    text-align: left;
}
.responsive-img {
    max-width: 60%;
    height: auto;
    display: block;
}